aiofiles==0.5.0
aiohttp==3.6.2
alabaster==0.7.12
astroid==2.4.2
async-timeout==3.0.1
attrs==20.2.0
Babel==2.8.0
bcrypt==3.1.7
beautifulsoup4==4.9.1
bs4==0.0.1
cachelib==0.1.1
cachetools==4.1.1
certifi==2019.11.28
cffi==1.14.1
chardet==3.0.4
click==7.1.2
cloudstorage==0.10.1
commonmark==0.9.1
cssselect==1.1.0
cssutils==1.0.2
docutils==0.16
email-to==0.1.0
Flask==1.1.2
Flask-Cors==3.0.8
flask-googlemaps==0.4.0
Flask-HTTPAuth==4.1.0
Flask-MySQL==1.5.1
Flask-Session==0.3.2
geographiclib==1.50
geopy==2.0.0
google-api-core==1.22.2
google-auth==1.21.2
google-cloud-core==1.4.1
google-cloud-storage==1.31.0
google-crc32c==1.0.0
google-resumable-media==1.0.0
googleapis-common-protos==1.52.0
http-basic-auth==1.2.0
idna==2.10
imagesize==1.2.0
importlib-metadata==1.7.0
inflection==0.5.1
iniconfig==1.0.1
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.2
lazy-object-proxy==1.4.3
loader==2017.9.11
Logbook==1.5.3
logcc==2018.3.1
lxml==4.5.2
Markdown==3.2.2
MarkupSafe==1.1.1
mccabe==0.6.1
module-wrapper==0.2.4
more-itertools==8.5.0
multidict==4.7.6
mysql-connector==2.2.9
mysql-connector-python==8.0.20
numpy==1.19.0
packaging==20.4
passlib==1.7.2
pendulum==2.1.2
Pillow==7.2.0
pluggy==0.13.1
poetry-version==0.1.5
pony==0.7.13
premailer==3.7.0
protobuf==3.12.2
py==1.9.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
Pygments==2.7.1
pylint==2.5.3
PyMySQL==0.9.3
pyparsing==2.4.7
pytest==6.0.2
python-dateutil==2.8.1
python-dotenv==0.14.0
python-magic==0.4.18
pytz==2020.1
pytzdata==2020.1
recommonmark==0.6.0
requests==2.24.0
rinoh-typeface-dejavuserif==0.1.1
rinoh-typeface-texgyrecursor==0.1.1
rinoh-typeface-texgyreheros==0.1.1
rinoh-typeface-texgyrepagella==0.1.1
rinohtype==0.4.2
rsa==4.6
secure-smtplib==0.1.1
sense-hat==2.2.0
six==1.15.0
snowballstemmer==2.0.0
soupsieve==2.0.1
Sphinx==3.2.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
termcc==2019.8.2
terminaltables==3.1.0
toml==0.10.1
tomlkit==0.5.11
typed-ast==1.4.1
typing-extensions==3.7.4.3
uncurl==0.0.10
urllib3==1.25.9
websockets==8.1
Werkzeug==1.0.1
wrap==2018.3.1
wrapt==1.12.1
WTForms==2.3.3
xerox==0.4.1
yarl==1.5.1
zipp==3.1.0
