{% extends 'layout.html' %}

{% block body %}
<h1>Issue List</h1>    

<table class="table">
    <thead>
      <tr>
        <th scope="col">Car Code</th>
        <th scope="col">Brand</th>
        <th scope="col">Body Type</th>
        <th scope="col">Colour</th>
        <th scope="col">Issue Detail</th>
        <th scope="col">Time</th>
        <th scope="col">Status </th>
        <th scope="col"><a class="btn btn-primary" href="http://localhost:5000/add_issue" role="button">Add Issue</a></th>
      </tr>
    </thead>
    <tbody>
    
    {% for issue in issues %}
      <tr>
        <th>{{issue.carCode}}</th>
        <td>{{issue.make}}</td>
        <td>{{issue.bodyType}}</td>
        <td>{{issue.colour}}</td>
        <td>{{issue.issueDetail}}</td>
        <td>{{issue.timeNdate}}</td>
        {% if issue.issueStatus == "need-repair"%} 
        <td><a href="fix_issue/{{issue.id}}">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-wrench" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M.102 2.223A3.004 3.004 0 0 0 3.78 5.897l6.341 6.252A3.003 3.003 0 0 0 13 16a3 3 0 1 0-.851-5.878L5.897 3.781A3.004 3.004 0 0 0 2.223.1l2.141 2.142L4 4l-1.757.364L.102 2.223zm13.37 9.019L13 11l-.471.242-.529.026-.287.445-.445.287-.026.529L11 13l.242.471.026.529.445.287.287.445.529.026L13 15l.471-.242.529-.026.287-.445.445-.287.026-.529L15 13l-.242-.471-.026-.529-.445-.287-.287-.445-.529-.026z"/>
            </svg>
        </a></td>
        {% endif %}
        {%if issue.issueStatus == "fixed"%}
        <td>Fixed</td>
        {% endif %}
      </tr>

    {% endfor%}
    </tbody>
  </table>
  

{% endblock %}