{% extends 'layout.html' %}

{% block body %}

    <h1> Update Car</h1>
    <form action="" method="POST">
    <div class="form-group">
        <label>Car Code</label>
        <input type="text" name="carCode" class="form-control" value={{car.carCode}}>
    </div>
    <div class="form-group">
        <label>Brand</label>
        <input type="text" name="make" class="form-control" value={{car.make}}>
    </div>
    <div class="form-group">
        <label>Body Type</label>
        <input type="text" name="bodyType" class="form-control" value={{car.bodyType}}>
    </div>
    <div class="form-group">
        <label>Colour</label>
        <input type="text" name="colour" class="form-control" value={{car.colour}}>
    </div>
    <div class="form-group">
        <label>Seats</label>
        <input type="password" name="seats" class="form-control" value="{{car.seats}}">
    </div>
    <div class="form-group">
        <label>Cost Per Hour</label>
        <input type="text" name="costPerHour" class="form-control" value={{car.costPerHour}}>
    </div>
    <div class="form-group">
        <label>Location</label>
        <input type="text" name="carLocation" class="form-control" value={{car.carLocation}}>
    </div>
    <div class="form-group">
        <label>Status</label>
        <input type="text" name="carStatus" class="form-control" value={{car.carStatus}}>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% endblock %}