{% extends 'layout.html' %}

{% block body %}

    <div style="display: table">

        {% for car in cars %}

            <div style="display: table-row;">
                <div class="car-column">
                    <div>
                        <h1 class="giant-title" style="line-height: 70%;">{{ car.make | upper }}</h1>
                        <p class="giant-title" style="line-height: 100%;">{{ car.carName | lower }}</p>
                    </div>
                    
                    <div style="line-height: 250%; padding-top: 25px;">
                        <p class="label-p" style="font-size: 32px">SEATS: {{ car.seats }}</p>
                        <p class="label-p" style="font-size: 32px">COLOUR: {{ car.colour }}</p>
                        <p class="label-p" style="font-size: 32px">BRAND: {{ car.make | upper }}</p>
                        <p class="label-p" style="font-size: 32px">COSTS: ${{ car.costPerHour }}/HOUR</p>
                    </div>
                    
                    {% if car.carStatus=="Booked" or car.carStatus=="In-use" %}
                        <p class="bold-booking" style="font-size: 32px;">THIS CAR IS BOOKED</p>
                    {% elif car.carStatus=="Need-repair" %}
                        <p class="bold-booking" style="font-size: 32px;">THIS CAR IS UNAVAILABLE</p>
                    {% else %}
                        <a class="bold-booking black-link" id="hover" style="font-size: 32px; text-decoration: underline;" href="{{ url_for('make_booking', id=car.id) }}">BOOK THIS CAR</a>
                    {% endif %}
                </div>

                <div class="car-column">
                    <img style="width: 150%;" src="{{ car.carImage }}">
                </div>
            </div>

        {% endfor %}

    </div>
  
{% endblock %}