<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Exotic Rentals Automobiles</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700;800&display=swap" >
        <link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}">
    </head>
    <body>
        {% include 'includes/_navbar.html' %}
        <div class="container">
            {% include 'includes/_messages.html' %}
            {% block body %}{% endblock %}
        </div>

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>
</html>